.jumbotron {
  text-align: center;
  background-color: lightcyan;
}

.form-check {
  display: none;
}

#endOfQuiz {
  display: none;
  font-weight: bold;
  text-align: center;
  float: left;
}
img {
  width: 20%;
  height: 20%;
}