body {
  background-color: #232137;
  color: goldenrod;
}
.jumbotron {
  text-align: center;
  background-color: #383283;
}

.form-check {
  display: none;
}

#endOfQuiz {
  display: none;
  font-weight: bold;
  text-align: center;
  float: left;
  background-color:#383283
}

#notChecked {
  color: red;
  display: none;
}

img {
  width: 20%;
  height: 20%;
}